.app.dark {
    --color-bg: #281730;
    --color-a: #ECCCB2;
    --color-b: #deb6ab;
    --color-c: #ca829f;
    --color-d: #cfa3d3;
    --color-e: #a7608d;
    --color-f: #8d588d;
    --color-g: #ffc3bb;

    --color-text-light: #aaaaaa;
    --color-text-soft: #6a6969;
    --color-text-dark: #47474c;
 
    --color-black: #222831;
    --color-white: #fcfcfc;

    --color-d-a: #dac39c;
    --color-l-a: #d69f32;
    --color-d-b: #9ec79e;
    --color-l-b: #368036;
    --color-d-c: #b2d1de;
    --color-l-c: #0c516e;
    --color-d-d: #be7777;
    --color-l-d: #ac3131;

    --color-light: rgba(185, 185, 185, 0.2);
}